.app {
    margin: 0 auto;
    width: 50%;
    /*TODO: 100vh это временно*/
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 10fr auto;
    grid-template-areas:
        "userNavbar chatHeader"
        "chatList messageArea"
        "chatList inputArea";
}

