.chatPreview {
    display: grid;
    margin: 1%;
    background: rgb(255, 255, 255);
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
         "chatName time"
         "message message";
}

.chatPreview:hover {
    background: rgba(79, 156, 243, 0.4);
}

.chatName {
    grid-area: chatName;
    justify-content: center;
    white-space: nowrap;
    margin-left: 1%;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.time {
    grid-area: time;
    color: #5e5d5d;
    text-align: right;
}

.message {
    grid-area: message;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 1%;
    padding-top: 5%;
    color: rgb(0, 121, 255);
}